<!-- Model 01 - GIF -->
<!-- <mat-toolbar class="header mat-elevation-z4 black">
    <span>
        <a><img class="logoGif" src="../assets/img/Logo03.gif" alt="logo"></a>
    </span>
</mat-toolbar> -->

<!-- Model 02 - PNG -->
<mat-toolbar class="header mat-elevation-z3" color="primary">
    <span>
        <a routerLink="/"><img class="logo" src="../assets/img/Logo03.png" alt="logo"></a>
    </span>
    <span class="title-group">
       <a routerLink="{{ routeUrl }}">
           <em class="material-icons"> {{ icon }} </em>
           <span class="title">{{ title }}</span>
       </a>
    </span>
</mat-toolbar>