.home .title{
    font-size: 2.3rem;
    font-weight: 200;
    line-height: 1;
}

.home .subtitle {
    padding-top: 0.1rem;
}

.card2 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 290px;
    background-color: #424242;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.card2:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: #424242;
}


  